/* heading  */
h1 {
    display: block;
    font-size: 5em;
    font-weight: bold;
    /* padding: 0% 1% 3% 6.5%; */
    margin: 0% 35% -10% 36%;
}


h1:hover{
  color:#4499d9 ;
  transform: translateY(-5px);
}


/* bg image */
body {
  background-image: url('img/bg4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


/* Bordered form */
form {
 /*  border: 13px solid black; */
  width: 27%;
  height: auto;
  position: absolute;
  left: 10%;
  margin-left: -3px;
  top: 18%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #17234b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 49%;
}

/* Add a hover effect for buttons */
button:hover {
  background-color: #4499d9;
   transform: translateY(-5px);
  box-shadow: 1px 3px 7px #6f6d72;
}

#toggleText {
    display: block;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
     width: 30%;
    border-radius: 20%;
     box-shadow: 1px 3px 9px #6f6d72;
}

img.avatar:hover{
   transform: translateY(-5px);
  box-shadow: 7px 9px 9px #6f6d72;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* vertical line */
.v1 {
  border-left: 6px solid #17234b;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 18%;
}

/* website name logo*/
.logo{
    height: 450px;
  position: absolute;
  left: 63%;
  margin-left: -3px;
  top: 18%;
}

.logo:hover{
   transform: translateY(-5px);
}

span.buttons{
    width: 100%;
    display: flow-root;
}

#toggleText{
  float: left;
}

#toggle{
  float: left;
}